<div class="department_list">
	<div class="department_card" *ngFor="let department of departmentList; index as i;">
		<div class="department_name">
			{{department.name}}
		</div>
  	<div class="department_description">
			{{department.description}}
		</div>
    <button type="button" name="button" (click)="showAddStudForm(department.id)">Add student</button>
    <button type="button" name="button" (click)="showDepartmentForm(department)">Edit</button>
    <button type="button" name="button" (click)="deleteDepartmentById(department.id)">Delete</button>
    <div class="student_list">
  	   <div class="student_card" *ngFor="let student of studentList; index as j;" >
         <div class="student_info" *ngIf="department.id == student.department">
           {{student.first_name}} {{student.last_name}}
           <button type="button" name="button" (click)="deleteStudentById(student.id)">Delete</button>
         </div>
	     </div>
  	</div>
  </div>
</div>

<div class="add_student_form">
  <div> First name
    <input class="add_stud_Fname" type="text" name="stud_Fname" value="">
  </div>
  <div> Last name
    <input class="add_stud_Lname" type="text" name="stud_Lname" value="">
  </div>
  <button type="button" name="button" (click)="addStudent()">Submit</button>
  <button class="close_button" type="button" name="button" (click)="closeStudentForm()">X</button>
</div>

<div class="add_department_form">
  <div> Name
    <input class="add_depart_name" type="text" name="depart_name" value="">
  </div>
  <div> Description
    <input class="add_depart_description" type="text" name="depart_description" value="">
  </div>
  <button type="button" name="button" (click)="addOrEditDepartment()">Submit</button>
  <button class="close_button" type="button" name="button" (click)="closeDepartmentForm()">X</button>
</div>

<button type="button" name="button" (click)="showDepartmentForm()">Add department</button>
